/* Search Styles      */
/****************************************************************/
#dept-search{min-width: 300px;/*float: right;margin-left:10px;margin-right:0; border-left:none;*//*border-top:1px solid #ccc;border-bottom:1px solid #ccc;*/border-radius: 3px; height:auto;}
#dept-dropdown #list a span {font-size: 14px;}
/*********** department main drop down list ************/
form#searchBoxForm #dept-dropdown{margin: 0;float: left;position:static;display:block;}
form#searchBoxForm #dept-dropdown a.btn{width: 108px; height: 13px; line-height:21px; height:14px\9; *height:16px;float: left;border-top: none; border-bottom: none; border-left: 1px solid #ccc; border-right:1px solid #ccc;border-radius: 3px 0px 0px 3px;background: #c5e5ff url(../images/dropArrow.png) right center no-repeat;
	padding: 8px 7px 17px 0px; padding: 4px 7px 21px 12px\9; *padding: 8px 7px 15px 12px;font-size: 14px;line-height: auto;font-weight: bold;text-transform: none;letter-spacing: -.01px;width:40px;}
.countryBtn{background:none !important; border:none !important; width:auto !important;	*background:none !important; *border:none !important;}
#dept-dropdown #list a span.arrowIcon{background:url(../images/arrowIcon.png) no-repeat right center; padding-right:25px; color:#ffffff; }
/*********** department categories list ************/
form#searchBoxForm ul#dept-list{display:none;background: none repeat scroll 0 0 #ffffff ;border: 1px solid #cccccc;border-top: 0px;position: absolute;width: 165px;top: 37px;left:0px;padding-bottom: 10px;z-index: 10;}
form#searchBoxForm ul#dept-list li a{font-size:11px; /*workbench typography style is Normal*/ display:block;padding:0px 6px 0px 12px; text-align:left; height:28px; line-height:28px; color:#000000;}
form#searchBoxForm ul#dept-list li a:hover{background:none 0 0 repeat scroll #EAEAEA;text-decoration:none;cursor:pointer;}
form#searchBoxForm{ 
	padding: 8px 7px 17px 12px;padding: 4px 7px 22px 12px\9;*padding: 8px 7px 18px 12px;border-bottom: 0px;border-radius: 3px 0px 0px 0px;}

form#searchBoxForm #dept-dropdown:hover #list a.btn, form#searchBoxForm #dept-dropdown:hover #dept-list{display: block; /*background: none repeat scroll 0 0 #ffffff;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffff', endColorstr='#ffffff',GradientType=0 );box-shadow: -3px 7px 4px rgba(0,0,0,0.2);*/}
#searchBoxForm fieldset {border: medium none;float: left;padding: 0;width:auto;position:relative;}
/********label saying :What can we help you find?**********/
label#lblSearch{line-height: normal;}
#lblSearch{color: #999999;display: block;font-size: 15px;font-weight: normal;font-style: italic;padding-top: 5px;text-align:left;margin-left:5px;width:auto;}
.labelRemove{position:absolute;margin:5px 0 0 15px; padding-right: 4px;}
/*Search text box*/
#divSearchbox{float:left;}
#divSearchbox input#searchFocus{background:#fff url(../images/searchBg.png) repeat-x top left;/*width:240px;*/padding:11px 17px 10px 5px;padding-top:14px\9;padding-bottom:8px\9;height:17px;font-size: 14px;font-weight: bold;color: #333; border-radius:none !important;display: inline-block;;border:none transparent;box-shadow: none;line-height: 0;}
#divSearchbox input[type="text"]{border-radius: none}
/*hack for mozilla firefox to match the textbox height and width with the other browsers*/
@-moz-document url-prefix(){body.homepage  #searchFocus{padding-top:2px;padding-left:10px;padding-bottom: 16px;}}
/**********************Search button***********************/


/*================== End of Type ahead styles========================*/
/*=============== Search Button ============================*/
#divSearchBtn,#divSearchBtn .controls{float:left;margin-left:-1px;}
#searchButton.btn{clear:both;float: left;height: 38px;width: 45px;border:0;border-radius: 0 3px 3px 0;cursor: pointer;display:inline;  }

#searchButton.btn i.icon-search{*margin-left: 10px; margin-right: 0px;}
.search-control-group{	clear:none;margin-bottom:0;}
.search-controls{margin-left:0;}





*, form{
	margin: 0;
	padding: 0;
	/* font-weight: normal; <--- John J. told me to do it.  Defect #13906 */
}




/*Light Grey Gradient*/
.btn, input.btn{
	background:url(../images/arrow_down.png) no-repeat right top;
	background: -moz-linear-gradient(top,  #cde9ff 0%, #a2d3fe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cde9ff), color-stop(100%,#a2d3fe));
	background: -webkit-linear-gradient(top,  #cde9ff 0%,#a2d3fe 100%);
	background: -o-linear-gradient(top,  #cde9ff 0%,#a2d3fe 100%);
	background: -ms-linear-gradient(top,  #cde9ff 0%,#a2d3fe 100%);
	background: linear-gradient(top,  #cde9ff 0%,#a2d3fe 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde9ff', endColorstr='#a2d3fe',GradientType=0 );*/
	border:1px solid #cfeaff;
	color:#2b2b2b;
}
.btn:hover, input.btn:hover{
	background: url('../images/button-sprite.png') repeat-x 298px -198px;
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 100%);
	background: linear-gradient(top,  #dddddd 0%,#ffffff 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );*/
   	text-decoration: none;
	border:1px solid #ccc;
	filter:chroma(color=#000000); /* Defect Fix for #25025 */
}


/*Orange Gradient*/
.btn-orange, input.btn-orange{
	background:  #025787;
	border:1px solid #f96302;
	color:#fff;
}
.btn-orange:hover, input.btn-orange:hover{
	background: #1f87c3;

}


#countries{margin-right:0; border-left:none;border-radius: 3px; height:49px;}



/* Search Styles      */
/****************************************************************/
